.main-container{
    display: grid;
    grid-template-columns: 1fr 4fr 11fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

.default{
    grid-template-columns: 1fr 4fr 15fr;
}

.sidebar{
    width: 5vw;
}

.contact-list{
    width: 20vw;
}

.default-page{
    width: 75vw;
}

.main-chat-screen{
    width: 55vw;
}

.media-section{
    width: 20vw;
}
