body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(180deg,#fff,#f4f6fb,#fff);
}
.header{
  padding: 5vh 15vw;
  width: 100vw;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-logo{
  height: calc(4.5vh + 4.5vw);
  width: calc(4.5vh + 4.5vw);
}

.home-logo img{
  height: 100%;
  width: 100%;
}

.nav-links ul{
  display: flex;
}

.nav-links ul li{
  margin-right: 5vw;
  cursor: pointer;
  font-size: calc(1vh + .7vw);
}

.nav-links ul li:last-child{
  margin-right: 0;
}

.header-desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-h1{
  font-size: calc(3vh + 1.5vw);
  margin-top: 7vh;
}

.header-one-liner{
  margin-top:3vh;
  font-size: calc(1vh + .5vw);
  width: 50%;
}

.display-image-sec{
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 8vh;
  padding-bottom: 12vh;
}

.display-image-sec img{
  /* height: 100%; */
  width: 50vw;
}

.features {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.container-home {
  height: auto;
  width: 100%;
  max-width: 72vw;
  padding: 5vh 7.5vw;
  border-top:1px solid grey;
  padding-top: 15vh;
}

.feature-header {
  font-size: calc(1.5vh + 2vw);
  position: relative;
}

.feature-header::before{
  width: 4vw;
  height: 2px;
  content: "";
  position: absolute;
  bottom: -1.2vh;
  left: 50%;
  background-color: #ef4b6c;
  transform: translateX(-50%);
}

.first-row {
  display: flex;
  justify-content: space-between;
}

.feature-container {
  display: flex;
  justify-content: center;
  margin-top: 12vh;
  margin-right: 5vw;
}

.feature-container:nth-child(3) {
  margin-right: 0;
}

.feature-container:last-child {
  margin-right: 0;
}


.feature-logo {
  height: calc(3.5vh + 3.2vw);
  width: calc(3.5vh + 3.2vw);
}

.feature-name {
  margin-top: 2vh;
  font-size: calc(.9vh + .9vw);
  font-weight: 600;
  line-height: 1.22;
  letter-spacing: 1px;
  color: #1b2025;
}

.feature-description {
  margin-top: 2vh;
  line-height: 1.73;
  letter-spacing: 0.5px;
  color: #626881;
}

.second-row {
  display: flex;
  justify-content: start;
}
