.landingPageContainer {
    background-image: linear-gradient(
      to right,
      #272a37,
      #272a37,
      rgba(17, 18, 18, 0.74)
    );
    color: #ffffff;
    padding: 0 3rem;
    text-align: left;
    height: 100vh;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
  }
  
  .navigation ul {
    display: flex;
  }
  
  .navigation ul li {
    padding: 1rem;
  }
  .logoList li {
    padding: 0 !important;
  }
  
  .logoList li img {
    height: 80px;
    width: 80px;
  }
  
  .navList {
    align-self: center;
  }
  
  .navList li {
    font-weight: 700;
    cursor: pointer;
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .mainContainer h1 {
    margin: 0;
    text-align: left;
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
  
  .mainContainer button {
    padding: 1rem 3rem;
    background-color: #1d90f5;
    color: white;
    border-radius: 20px;
    width: 250px;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 2rem 0 5rem 0;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .feauturesContainer {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  
  .feauture {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 1.5rem;
  }
  
  .feauture img {
    height: 50px;
    width: 50px;
    margin-bottom: 0.5rem;
  }
  
  .feauture h3 {
    margin-left: 0.25rem;
    margin-bottom: 0rem;
  }
  
  .feauture p {
    margin-left: 0.25rem;
    width: 80%;
  }
  
  @media (max-device-width: 650px) {
    .feauturesContainer {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    .landingPageContainer {
      padding: 0 2rem;
    }
  }
  