.chat-list {
    width: 100%;
    background-color: #1f2029;
    text-align: left;
    height: calc(100vh - 10px);
    border-right: 1px solid #808080;
  }
  
  .chat-list-header {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.8rem;
    border-bottom: 1px solid #808080;
    border-right: 1px solid #808080;
    max-height: 65px;
  }
  
  .chat-list .recent-heading {
    padding: 1rem 0.5rem;
    color: #808080;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    max-height: 10vh;
  }

  .chat-list-header img{
    height: 65px;
    width: 65px;
  }
  
  .recent-chat {
    max-height: 35vh;
    overflow-y: scroll;
  }
  
  .recent-group {
    max-height: 35vh;
    overflow-y: scroll;
  }