header {
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: space-between;
    margin: 0 5vw;
    padding-top: 4vh;
  }
  
  header div {
    cursor: pointer;
  }
  
  img {
    height: 80px;
    width: 80px;
  }
  