.modal-background{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 95vw;
  background: #000000;
  opacity: .8;
  animation: fadeincontact .3s;
}

@keyframes fadeincontact {
  0%{opacity: 0;}
  100%{opacity:.8;}
}

.changeContactContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: fixed;
    top: 25vh;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 27vw;
    /* transform-origin: 100% 80%; */
    animation: fadeinmodale .3s linear;
  }

  @keyframes fadeinmodale {
  0%{opacity: 0;transform: scale(0);}
  100%{opacity:1;transform: scale(1); }
}
  .heading {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f7e6a6;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 1rem;
    align-items: center;
  }
  
  .heading span {
    font-size: 1.25rem;
    color: black;
  }
  
  .heading img {
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  
  .form {
    background-color: black;
    padding: 2rem 1.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .phoneNumber {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .phoneNumber button {
    color: black;
    background-color: #f7e6a6;
    padding: calc(1vh + 0.3vw);
    margin-left: 2vh;
    border-radius: 20px;
    width: 35%;
    text-align: center;
    transition: 0.4s ease;
    border: none;
    font-size: calc(1.3vh + .5vw);
    cursor: pointer;
    font-weight: 600;
  }
  
  .updateButton {
    color: #ffffff;
    background-color: #1d90f5;
    padding: calc(1vh + 0.3vw);
    border-radius: 30px;
    width: 50%;
    margin: auto;
    margin-top: 3vh;
    text-align: center;
    transition: 0.4s ease;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
  }
  
  .contactmodalinput{
    background: #323644;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: calc(1vh + 0.5vw);
    color: #fff;
  }