/* .single-main-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
} */

.single-main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    }
    
.single-main-section { 
    grid-area: 2 / 1 / 3 / 2; 
}

.single-chat-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2029;
    border-bottom: 0.5px solid #808080;
}

.single-header-leftbar{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 2vmax;
}
.single-header-logo{
    height: 2.5vmax;
    width: 2.5vmax;

}

.single-header-logo img{
    height: 100%;
    width: 100%;
}

.single-header-info{
    margin-left: 1.5vmax;
}

.single-person-name{
    color:#ffffff;
    font-size: 1.5rem;
}

.single-status{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 0.3vmax;
}

.single-status-dot{
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: #32CD30;
    display: inline-block;
    /* margin-left: 1vmax; */
}

.single-status-name{
    color:#808080;
    font-size: .8rem;
    font-weight: 600;
    margin-left: 0.2vmax;

}

.single-header-icons{
    display: flex;
    align-items: flex-end;
    margin-right: 1vw;
}



.right-icons{
    height: 1.3vw;
    width: 1.3vw;
    margin-right: 2vw;
    cursor: pointer;
}

.video-call-single{
    height: 1.3vw;
    width: 1.7vw;
}

.right-icons img{
    height: 100%;
    width: 100%;
}

.single-main-section{
    background: #2B2C34;
    padding:2vw;
    /* position: relative; */
    height: 82vh;
    overflow-y: scroll;
}

.day-container{
    border:1px solid #808080;
    border-left: none !important;
    border-right: none !important;
    border-bottom:none !important;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

.day-container legend{
    color: #808080;
    font-weight: 700;
}

.single-message{
    display: flex;
    align-items: flex-end;
}

.single-message-content{
    background-color: #3B3546;
    padding: 1.5vh;
    color: #ffffff;
    border-radius: 20px;
    font-size: calc(0.7vh + 0.5vw);
    width: max-content;
    margin-top: 1vh;
    max-width: 70%;
    text-align: start;
}

.single-time-stamp{
    font-size: .6rem;
    color: #808080;
    text-align: start;
    margin-top: 5px;
    margin-left: 5px;
}

.last-reveived-message{
    border-bottom-left-radius:0 !important;

}

.last-sent-message{
    border-bottom-right-radius: 0 !important;
}

.self-sent{
    align-self: flex-end;
    width: 70%;
    justify-content: flex-end;
}

.self{
    background-color: #F7E6A6 !important;
    color: #000000 !important;
}

.single-flex{
    display: flex;
    justify-content:space-between;
}

.single-image{
    display: flex;
    align-items: flex-end;
    margin-top: 2vh;
}

.single-image-content{
    background-color:#3B3546;
    border-radius: 20px;
}



.single-image-display{
    height: 17vh;
    width: 17vw;
    padding: .5vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.single-image-display img{
    height: 100%;
    width: 100%;
}

.single-image-desc{
    font-size: 0.7rem;
    color:#ffffff;
    text-align: start;
    padding:1.5vh;
}

.single-img-timestamp{
    font-size: .6rem;
    color: #808080;
    text-align: start;
}

.self-image{
    color:#000000 !important
}

.document-flex{
    display: flex;
    padding: 1vw;
    border-radius: 20px;
}

.single-document-header{
    display: flex;
}

.three-dot-icon{
    height: 2vh;
    cursor: pointer;
}

.three-dot-icon img{
    height: 100%;
    width: 100%;
}

.single-document-content{
    display: flex;

}

.download-document-icon{
    height: 2.7vw;
    width: 2.7vw;
    cursor: pointer;
}

.download-document-icon img{
    height: 100%;
    width: 100%;
}



.single-document-details{
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    width: 70%;
}

.single-document-name{
    color: #ffffff;
    font-size: calc(1vh + .5vw);
    text-align: start;
    text-transform: capitalize;
}

.single-document-detail{
    color: #808080;
    font-size: calc( 1vh + .3vw);
    font-weight: 700;
    text-align:start;
    margin-top: 1vh;
}

.single-document-detail span{
    margin-left: .5vw;
}

.single-chat-footer{
    position: relative;
    display: flex;
    align-items: center;
    background-color: #1F2029;
    border-top: 0.5px solid #808080;
}


.single-attachment{
    position: absolute;
    background-color: #3B3546;
    bottom: 10vh;
    left: 2vw;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    padding:2vh;
    z-index: 1;
    /* transition: .4s ease; */
}

.hide{
    display: none;
    /* transition: .4s ease; */
}

.single-image-attachment{
    display: flex;
    padding: 2vh;
    border-bottom: 1px solid #808080;
    cursor: pointer;
}

.single-image-attachment:last-child{
    border-bottom: none;
}

.single-attachment-icon{
    height: 1.5vw;
    width: 1.5vw;
}

.single-attachment-icon img{
    height: 100%;
    width: 100%;
}

.single-attachment-text{
    color: #808080;
    font-size: .9rem;
    margin-left:1vw
}


.single-attach-icon{
    height: 2.3vw;
    width: 2.3vw;
    margin-left: 1.5vw;
    cursor: pointer;
    transition: .3s ease;

}

.single-attach-icon img{
    height: 100%;
    width: 100%;
}

.single-attach-icon:hover{
    transform: translateY(-2px);
}

.single-footer-message{
    flex-grow: 1;
    display: flex;
    margin-left: 2vw;
}

.single-footer-message input{
    background: transparent;
    outline: none;
    border:none;
    color:#808080;
    font-size: 1rem;
    width: 100%;
}

.single-footer-right-icons{
    display: flex;
    margin-right: 1vw;
}

.single-footer-right-icon{
    height: 1.3vw;
    width: 1.3vw;
    margin-right: 2vw;
    cursor: pointer;
    transition: .3s ease;
}

.single-footer-right-icon img{
    height: 100%;
    width: 100%;
}

.single-footer-right-icon:hover{
    transform: translateY(-2px);
}