.changepasswordContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: fixed;
  top: 20vh;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 27vw;
  /* transform-origin: 120% 120%; */
  animation: fadeinmodale .3s linear;
  }
  
  .heading {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f7e6a6;
    color: black;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    align-items: center;
  }
  
  .heading span {
    font-size: 1.25rem;
    color: black;
  }
  
  .heading img {
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  
  .form {
    background-color: black;
    padding: 2rem 1.5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .phoneNumber {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .phoneNumber button {
    color: black;
    background-color: #f7e6a6;
    padding: calc(1vh + 0.3vw);
    margin-left: 2vh;
    border-radius: 20px;
    width: 50%;
    text-align: center;
    transition: 0.4s ease;
    border: none;
    font-size: calc(1.3vh + .5vw);
    cursor: pointer;
    font-weight: 600;
  }
  
  .updateButton {
    color: #ffffff;
    background-color: #1d90f5;
    padding: 1rem;
    border-radius: 30px;
    width: 50%;
    margin: auto;
    margin-top: 3vh;
    text-align: center;
    transition: 0.4s ease;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
  }
  